body {
            font-family: Arial, sans-serif;
            background-color: #eed0dfff;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 450px;
            width: 90%;
            margin: 50px auto;
            box-sizing: border-box;
            border-radius: 8px;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        label {
            font-weight: bold;
            display: block;
            margin-top: 15px;
            color: #444;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-top: 6px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        select {
            width: 50%;
            padding: 10px;
            margin-top: 6px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        textarea {
            resize: none;
        }

        .btn-group {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .btn {
            width: 30%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            cursor: pointer;
        }

        .save-btn {
            background-color: #28a745;
            color: #fff;
        }

        .cancel-btn {
            background-color: #dc3545;
            color: #fff;
            text-decoration: none;
            text-align: center;
            line-height: 38px;
        }